{% load staticfiles %}
<html>
	<head>
		<title>Django Girls Blog</title>
		<link	rel="stylesheet"	href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"> 
		<link	rel="stylesheet"	href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link	href="http://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext"	rel="stylesheet"	type="text/css">
		<link	rel="stylesheet"	href="{% static 'css/blog.css' %}">
	</head>
	<body>
		<div class="wrapper">
			<header>
				<h1>Woohoo! Django Girls blog</h1>
			</header>
			<div class="content">
				<!-- {{posts}} -->
				<div class="col-lg-10">
					{% block content %}
					{% endblock %}
				</div>
				<div class="clear"></div>
			</div>
		</div>
	</body>
</html>